<!-- In a dialog box, displays information for registering for a workshop. 
Simply takes the user currently logged in, and verifies that the user wants to register under that name. -->

<h1 mat-dialog-title>Register for {{ workshopDialogData.workshop.title }}</h1>

<div mat-dialog-content>
    <p>We are so glad you are interested in participating in {{ workshopDialogData.workshop.title }}!</p>
    <p>You will be registered as {{ profile!.first_name }} {{ profile!.last_name }}.</p>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>Register</button>
    <button mat-button (click)="onNoClick()">Back</button>
</div>
    