<!-- HTML page displaying all workshops and relevant information in the form of mat-cards. -->

<mat-card-actions fxLayout="row wrap">
<div class="position">
    <div>
        <button mat-fab style="background-color:#4786C6" aria-label="Create new workshop" (click)="openCreateDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
</mat-card-actions>

<mat-card class="content" *ngFor="let workshop of workshops$ | async">

    <mat-card-header>
        <mat-card-title>{{ workshop.title }}</mat-card-title>
        <mat-card-subtitle>Hosted by {{ workshop.host_first_name }} {{ workshop.host_last_name }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>{{ workshop.description }}</p>
        <hr>
        <p>{{ workshop.host_description }}</p>
        <hr>
        <mat-card-subtitle>Location: {{ workshop.location }}</mat-card-subtitle>
        <mat-card-subtitle>Date and time: {{ workshop.time }}</mat-card-subtitle>
        <mat-card-subtitle>Prerequisites: {{ workshop.requirements }}</mat-card-subtitle>
        <mat-card-subtitle>Spots: {{ workshop.spots }}</mat-card-subtitle>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button [disabled]="((profile$ | async) === undefined)" [disabled]="workshop.spots <= 0" (click)="openRegisterDialog(workshop)">Register</button>
        <mat-error *ngIf="(profile$ | async) === undefined">You must be signed in to register.</mat-error>
        <mat-error *ngIf="workshop.spots <= 0">All spots have been filled.</mat-error>
    </mat-card-actions>

</mat-card>
