.first-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.second-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.third-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}